<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    hii {{address}}
    <p>
        {{#each persons}}
    <p>{{firstname}}</p>

    <p>{{address.area}}</p>
    <p>
        {{address.plotnumber}}
        {{address.area}}
        {{address.landmark}}
        {{address.city}}
        {{address.state}}
        {{address.pin}}
    </p>

    {{/each}}
    </p>
    {{#each persons}}
         {{#if isEnabled}}
             <p>{{firstname}}</p>
         {{else}}
             <p>no data found.....</p>
        {{/if}}
    {{/each}}

</body>

</html>